/* Flex */
.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center{
  align-items: center
}

.align-start{
  align-items: flex-start;
}

.justify-center{
  justify-content: center;
}
/* Text */
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
/* Gap */

.g-10{
  gap: 10px;
}

.g-16{
  gap: 16px;
}

.g-30{
  gap:30px;
}

/* Icons */
.icon {
  fill: currentColor; 
}

.icon-normal {
  width: 24px;
  height: 24px;
}
.icon-xl {
  width: 40px;
  height: 40px;
}
.icon-small {
  width: 20px;
  height: 20px;
}

/* Border-radius */
.br-10 {
	border-radius: 10px;
}


/* Width */
.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}